<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<% if !@file.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @file, html: { multipart: true } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :attachment %>
    <%= f.file_field :attachment, multiple: true, name: "file_uploads[attachment][]" %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>

<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Download Link</th>
      <th>Thumbnail</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @files.each do |file| %>
      <tr>
        <td><%= file.name %></td>
        <td><%= link_to "Download File", file.attachment_url %></td>
        <td><%= image_tag(file.attachment_url(:thumb).to_s) %></td>
        <td><%= button_to "Delete",  file, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{file.name}?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
