<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<% if !@file.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @file, html: { multipart: true } do |f| %>
    <%= f.label :attachment %>
    <%= f.file_field :attachments, multiple: true %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>

<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Download Link</th>
      <th>Thumbnail</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @files.each do |file| %>
      <% file.attachments.each do |attachment| %>
        <tr>
          <td><%= link_to "Download File", attachment.url %></td>
          <td><%= image_tag(attachment.thumb.url.to_s) %></td>
          <td><%= button_to "Delete",  file_upload_path(file), method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete this file?" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
